* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 90rem;
  margin: 0px auto;
}

header {
  background-image: url('./images/desktop/image-header.jpg');
  background-position: center bottom;
  background-size: cover;
  min-height: 70vh;
  padding: 2rem;
}

#company-logo {
  margin-right: auto;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: right;
  gap: 2rem;
  align-items: center;
}

#contact-button {
  padding: 1em;
  border-radius: 2rem;
  border: none;
  background-color: white;
}
