* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 600;
  font-size: 18px;
  font-family: 'Barlow';
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

button:hover {
  cursor: pointer;
}

header {
  background-image: url('./images/desktop/image-header.jpg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  min-width: none;height: 100vh;
  text-align: center;
}

#company-logo {
  margin-right: auto;
}

#top-nav {
  padding: 1rem;
  display: flex;
  justify-content: right;
  gap: 2rem;
  align-items: center;
  font-family: 'Barlow';
  min-width: 100%;
  font-size: 1rem;
}

#top-nav a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

#contact-button {
  padding: 1em 2em 1em 2em;
  border-radius: 2rem;
  border: none;
  background-color: hsl(0, 0%, 100%);
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces';
}

#contact-button:hover {
  color: white;
  background-color: #6bd4f9;
  transition: 0.3s;
}

h1 {
  margin-left:0.6rem;
  font-family: 'Fraunces';
  font-weight: 900;
  color: hsl(0, 0%, 100%);
  font-size: 4rem;
  letter-spacing: 0.6rem;
}

#transform-your-brand {
  min-height: 80vh;
  display: flex;
}

#transform-your-brand-left-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#transform-your-brand-container {
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  padding: 1rem;
}

.learn-more {
  max-width: fit-content;
  font-family: 'Fraunces';
  background: none;
  border: none;
  font-size: 1rem;
  color: hsl(212, 27%, 19%);
}

#learn-more-transform-line {
  margin-top: -0.6rem;
  width: 8rem;
  height: 0.6rem;
  border-radius: 3rem;
  background-color: hsla(50, 100%, 49%, 0.453);
  display: block;
}

.learn-more:hover > #learn-more-transform-line {
  background-color: hsl(50, 100%, 49%);
  transition: 0.3s;
}

#stand-out {
  min-height: 80vh;
  display: flex;
  flex-direction: row-reverse;
}

#stand-out-left-container {
 width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stand-out-container {
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  padding: 1rem;
}

#learn-more-stand-out {
  max-width: fit-content;
  font-family: 'Fraunces';
  background: none;
  border: none;
  font-size: 1rem;
  color: hsl(212, 27%, 19%);
}

#learn-more-stand-out-line {
  margin-top: -0.6rem;
  width: 8rem;
  height: 0.6rem;
  border-radius: 3rem;
  background-color: hsla(7, 99%, 70%, 0.5);
  display: block;
}

.learn-more:hover > #learn-more-stand-out-line {
  background-color: hsl(7, 99%, 70%);
  transition: 0.3s;
}

.section-images {
  width: 50%;
  object-fit: cover;
}

h2 {
  font-size: 3rem;
  font-family: 'Fraunces';
  color: hsl(212, 27%, 19%);
}

#design-and-photography {
  min-height: 50vh;
  display: flex;
}

.design-and-photography-containers {
  width: 50%;
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 1.8rem;
  padding-bottom: 4rem;
}

#design {
  background-image: url(./images/desktop/image-graphic-design.jpg);
}

#photography {
  background-image: url(./images/desktop/image-photography.jpg);
}

h3 {
  font-size: 2rem;
  font-family: 'Fraunces';
}

.design-and-photography-text {
  max-width: 22rem;
  text-align: center;
  line-height:1.8rem;
}

#testimonials {
  min-height: 100vh;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h4 {
  font-size: 1rem;
  font-family: 'Fraunces';
  letter-spacing: 0.2rem;
  font-weight: 600;
  color:hsl(210, 4%, 67%);
}

#testimonial-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
}

.testimonial-containers {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.88rem;
}

.testimonial-images {
  width: 5rem;
  border-radius: 5rem;
  margin-bottom: 2.4rem;
}

.testimonial-text {
  text-align: center;
  margin-bottom: 3rem;
  color:hsl(213, 9%, 39%);
  max-width:22rem;
  line-height:1.5rem;
}

.testimonial-title {
  color: hsl(210, 4%, 67%);
  font-size: 0.88rem;
}

h5 {
  font-size: 1.2rem;
  font-family: 'Fraunces';
  font-weight: 900;
  color:hsl(212, 27%, 19%);
}

#bottom-images-section {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.bottom-images {
  width: 100%;
  object-fit: cover;
}

footer {
  min-height:40vh;
  background-color:rgba(144,212,197,255);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1rem;
}

#bottom-nav {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  font-family: 'Barlow';
  font-size: 1rem;
}

#bottom-nav a {
  text-decoration: none;
  color: hsl(168, 34%, 41%)
}

#bottom-nav a:hover {
  color: white;
  transition: 0.2s;
}

#footer-logo path {
  fill:hsl(168, 34%, 41%)
}

#footer-logo:hover {
  cursor:pointer;
}

#social-icons {
  display:flex;
  gap:2rem;
  padding-top: 3rem;
  flex-wrap: wrap;
}

#social-icons svg:hover {
  cursor:pointer;
}

#social-icons svg:hover path {
  fill: white;
  transition: 0.2s;
}

.button-mobile-nav {
  display:none;
}

#mobile-nav {
  display:none;
}

@media (max-width:900px) {

header {
  height:70vh;
}

.desktop-links {
  display:none;
}

p {
  text-align: center;
}

h1 {
  font-size:2rem;
}

h2 {
  font-size:2rem;
  text-align: center;
}

h3 {
  font-size:1.6rem;
}

h4 {
  text-align: center;
}

.button-mobile-nav {
  border:none;
  background:none;
  cursor:pointer;
}

.icon-mobile-nav {
  height: 2rem;
  width: 2rem;
  color:white;
}

.section-images {
  width:100%;
  height:100%;
  object-fit: cover;
}

#top-nav {
  padding: 0;
}

#mobile-menu-container {
  position: fixed;
  width:100%;
  display: none;
  flex-direction: column;
  align-items: end;
  padding-left:1rem;
  padding-right:1rem;
  margin-top:4rem;;
}

#triangle-topright {
  width: 0;
  height: 0;
  border-bottom: 25px solid rgb(255, 255, 255);
  border-left: 25px solid transparent;
}

#mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding-top:3rem;
  padding-bottom:1rem;
  gap: 2rem;
  width:100%;
}

.mobile-links {
  text-decoration: none;
  font-family: 'Barlow';
  color: hsl(232, 10%, 55%)
}

#contact-button-mobile {
  padding: 1.2em 2em 1.2em 2em;
  border-radius: 2rem;
  border: none;
  background-color: hsl(51, 100%, 49%);
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces';
}

#contact-button-mobile:hover {
  color: white;
  background-color: #6bd4f9;
  transition: 0.3s;
}

.design-and-photography-containers {
  min-height:80vh;
  width:100%;
  padding-left:1.77rem;
  padding-right:1.77rem;
}

#testimonials {
  padding-top:4rem;
  padding-bottom:4rem;
}

#testimonial-container {
  flex-direction:column;
   width:100vw;
   gap:3rem;
}

.testimonial-containers {
  width:100%;
}

#testimonial-container {
  padding-left: 1.77rem;
  padding-right:1.77rem;
}

#transform-your-brand{
  flex-direction:column-reverse;
  min-height:40vh;
}

#stand-out {
  flex-direction:column-reverse;
  min-height:40vh;
}

#design-and-photography {
  flex-direction:column;
}

#transform-your-brand-container {
  align-items: center;
}

#stand-out-container {
  align-items: center;
}

#transform-your-brand-left-container {
  width:100%;
  padding-top:4rem;
  padding-bottom:4rem;
}

#stand-out-left-container {
  width:100%;
  padding-top:4rem;
  padding-bottom:4rem;
}

.testimonial-images {
  margin-bottom: 1.2rem;
}

.testimonial-text {
  margin-bottom: 1.2rem;
}

#bottom-images-section {
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  object-fit:cover;
  height:auto;
  aspect-ratio: 1 / 1;
}

#bottom-images-section img {
  width:100%;
  height:100%;
}

footer {
  padding-top:4rem;
  padding-bottom:4rem;
}

#bottom-nav {
  flex-direction: column;
}

.button-mobile-nav {
  display:block;
}

}

@media (max-width:320px) {

  header {
    height:100vh;
  }
  
  p {
    max-width:90%;
    overflow-wrap: break-word;
  }


h1 {
  font-size:1.2rem;
  text-align: center;
}

h2 {
  width:90%;
  overflow-wrap: break-word;
}

h3 {
  max-width:90%;
  text-align: center;
  overflow-wrap: break-word;
}

h4 {
  width:90%;
  overflow-wrap: break-word;
}

.design-and-photography-containers {
  height:100vh;
}
}